DATABASE_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require"

NEXTAUTH_SECRET="remplacez-par-une-chaine-aleatoire-longue-et-securisee"
NEXTAUTH_URL="https://votre-site.netlify.app"

CLOUDINARY_CLOUD_NAME="dzdjvzztk"
CLOUDINARY_API_KEY="157281938544477"
CLOUDINARY_API_SECRET="fJbULzhrZU4KL9bm434hXXrWWCk"
